<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title" th:text="${title}"></h3>
                        </div>
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                    data-target="more-options">
                                    <em class="icon ni ni-more-v"></em>
                                </a>
                                <div class="toggle-expand-content">
                                    <ul class="nk-block-tools g-3" style="justify-content: center;">
                                        <li>
                                            <a href="/Admin/Products" class="btn btn-white btn-outline-light">
                                                <em class="icon ni ni-cc-alt2-fill"></em><span>List Product</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/Distributors" class="btn btn-white btn-outline-light">
                                                <em class="icon ni ni-plus"></em><span>Add Distributor</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-block">
                    <div class="row g-gs">
                        <div class="col-xxl-4 col-md-8 col-lg-6">
                            <div class="card card-bordered card-preview">

                                <div class="card-inner">
                                    <span class="preview-title-lg overline-title">
                                        <!-- <span th:text="${urlForm}"></span> -->
                                        <span th:text="${urlForm.indexOf('/') != -1? urlForm.substring(0,urlForm.indexOf('/')):urlForm}"></span>
                                        Distributor</span>
                                    <form method="post" th:action="@{'/Admin/Distributors/'+${urlForm}}"
                                        th:object="${distributor}">
                                        <div class="row g-4">
                                            <div class="col-lg-12">
                                                <div class="form-group"><label class="form-label"
                                                        for="name">Name</label>
                                                    <div class="form-control-wrap"><input type="text"
                                                            class="form-control" th:field="*{name}"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group"><label class="form-label" for="address">Address</label>
                                                    <div class="form-control-wrap"><input type="text" class="form-control" th:field="*{address}"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group"><label class="form-label" for="phone">Phone</label>
                                                    <div class="form-control-wrap"><input type="text" class="form-control" th:field="*{phone}"></div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group"><button type="submit"
                                                        class="btn btn-lg btn-primary">Save Distributor</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="col-xxl-8">
                            <div class="nk-tb-list is-separate mb-3">
                                <div class="nk-tb-item nk-tb-head">
                                    <div class="nk-tb-col nk-tb-col-check">
                                        <div class="custom-control custom-control-sm custom-checkbox notext">
                                            <input type="checkbox" class="custom-control-input" id="uid">
                                            <label class="custom-control-label" for="uid"></label>
                                        </div>
                                    </div>
                                    <div class="nk-tb-col">
                                        <span class="sub-text">Name</span>
                                    </div>
                                    <div class="nk-tb-col">
                                        <span class="sub-text">Address</span>
                                    </div>
                                    <div class="nk-tb-col">
                                        <span class="sub-text">Phone</span>
                                    </div>
                                    <div class="nk-tb-col nk-tb-col-tools">
                                        <span class="sub-text">Act</span>
                                    </div>
                                </div>
                                <div class="nk-tb-item" th:each="distributor : ${distributors}"
                                    th:id="'user-row-'+${distributor.id}">
                                    <div class="nk-tb-col nk-tb-col-check">
                                        <div class="custom-control custom-control-sm custom-checkbox notext">
                                            <input type="checkbox" class="custom-control-input" th:id="${distributor.id}">
                                            <label class="custom-control-label" th:for="${distributor.id}"></label>
                                        </div>
                                    </div>
                                    <div class="nk-tb-col tb-col-mb">
                                        <span class="tb-amount">
                                            <span th:text="${distributor.name}"></span>
                                        </span>
                                    </div>
                                    <div class="nk-tb-col tb-col-mb">
                                        <span class="tb-amount">
                                            <span th:text="${distributor.address}"></span>
                                        </span>
                                    </div>
                                    <div class="nk-tb-col tb-col-mb">
                                        <span class="tb-amount">
                                            <span th:text="${distributor.phone}"></span>
                                        </span>
                                    </div>
                                    <div class="nk-tb-col nk-tb-col-tools">
                                        <ul class="nk-tb-actions gx-1">
                                            <li class="nk-tb-action-hidden">
                                                <a th:href="@{/Admin/Distributors/Edit/{id}(id=${distributor.id})}"
                                                    class="btn btn-trigger btn-icon" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" aria-label="Edit"
                                                    data-bs-original-title="Edit">
                                                    <em class="icon ni ni-edit-alt-fill"></em>
                                                </a>
                                            </li>
                                            <li class="nk-tb-action-hidden">
                                                <a href="javascript:void(0);"
                                                    th:attr="onclick=|showDeleteConfirmation(${distributor.id})|"
                                                    class="btn btn-trigger btn-icon eg-swal-error"
                                                    data-bs-original-title="View">
                                                    <em class="icon ni ni-trash-fill"></em>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>





                            </div>
                            <!-- <div class="card">
                                <div class="card-inner">
                                    <div class="nk-block-between-md g-3">
                                        <div class="g">
                                            <ul class="pagination justify-content-center justify-content-md-start">
                                                <li class="page-item">
                                                    <a class="page-link" href="#">Prev</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">1</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">2</a>
                                                </li>
                                                <li class="page-item">
                                                    <span class="page-link">
                                                        <em class="icon ni ni-more-h"></em>
                                                    </span>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">6</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">7</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">Next</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>