<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title" th:text="${title}">User Lists</h3>
                            <div class="nk-block-des text-soft">
                                <p>You have total 2,595 users.</p>
                            </div>
                        </div>
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <div class="toggle-expand-content" >
                                    <ul class="nk-block-tools g-3" style="justify-content: center;">
                                        <li>
                                            <a href="#filter-user"  class="btn btn-white btn-outline-light"><em class="icon ni ni-filter-alt"></em><span>Filter User </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/Order" class="btn btn-white btn-outline-light">
                                                <em class="icon ni ni-cc-alt2-fill"></em><span>List Order</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/Booking" class="btn btn-white btn-outline-light">
                                                <em class="icon ni ni-list-thumb-alt-fill"></em><span>List Booking</span>
                                            </a>
                                        </li>
                                        <li class="nk-block-tools-opt"><a href="/Admin/Users/Add" class="btn btn-icon btn-primary d-md-none"><em
                                                    class="icon ni ni-plus"></em></a><a href="/Admin/Users/Add" class="btn btn-primary d-none d-md-inline-flex"><em
                                                    class="icon ni ni-plus"></em><span>Add</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-block nk-block-lg " id="filter-user">
                    <div class="card card-bordered card-preview">
                        <div class="card-inner">
                            <div class="preview-block">
                                <div class="card-head">
                                    <h5 class="card-title" >Filter User</h5>
                                </div>
                
                                <form method="get" th:action="@{/Admin/Users/Filter}" th:object="${userFilterDto}"
                                    enctype="multipart/form-data">
                                    <div class="row g-4">
                                        <div class="col-lg-4">
                                            <div class="form-group"><label class="form-label" for="fullName">Full Name</label>
                                                <div class="form-control-wrap"><input type="text" class="form-control"
                                                        th:field="*{fullName}"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group"><label class="form-label" for="email">Email address</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="email" th:field="*{email}">
                                                    <div data-lastpass-icon-root=""
                                                        style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group"><label class="form-label" for="phone">Phone No</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="phone" th:field="*{phone}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group"><label class="form-label" for="page">page</label>
                                                <div class="form-control-wrap">
                                                    <input type="number" class="form-control" id="page" th:field="*{page}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group"><label class="form-label" for="size">Size</label>
                                                <div class="form-control-wrap">
                                                    <input type="number" class="form-control" id="size" th:field="*{size}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group"><button type="submit" class="btn btn-lg btn-primary">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-block">
                    <div class="nk-tb-list is-separate mb-3">
                        <div class="nk-tb-item nk-tb-head">
                            <div class="nk-tb-col nk-tb-col-check">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" id="uid">
                                    <label class="custom-control-label" for="uid"></label>
                                </div>
                            </div>
                            <div class="nk-tb-col">
                                <span class="sub-text">User</span>
                            </div>
                            <div class="nk-tb-col tb-col-mb">
                                <span class="sub-text">Ordered</span>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <span class="sub-text">Phone</span>
                            </div>
                            <div class="nk-tb-col tb-col-lg">
                                <span class="sub-text">Adress</span>
                            </div>
                            <div class="nk-tb-col tb-col-lg">
                                <span class="sub-text">Last Order</span>
                            </div>
                            <div class="nk-tb-col nk-tb-col-tools">
                                <span class="sub-text">Act</span>
                            </div>
                        </div>
                        <div class="nk-tb-item" th:each="user : ${users}">
                            <div class="nk-tb-col nk-tb-col-check">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" id="${user.id}">
                                    <label class="custom-control-label" for="${user.id}"></label>
                                </div>
                            </div>
                            <div class="nk-tb-col">
                                <a asp-action="Details" id="${user.id}">
                                    <div class="user-card">
                                        <div class="user-avatar bg-primary" th:unless="${user.imageName}"><span>None</span></div>
                                        <div class="user-avatar" th:if="${user.imageName}">
                                            <img th:src="@{/uploads/{image}(image=${user.imageName})}" style="height: 100%;"  alt="User Image" >
                                        </div>
                                        <div class="user-info">
                                            <span class="tb-lead">
                                                <span th:text="${user.fullName}"></span>
                                                <span class="dot dot-success d-md-none ms-1" ></span>

                                                <!-- @Html.DisplayFor(modelItem => item.Name) <span class="dot dot-success d-md-none ms-1"></span> -->
                                            </span>
                                            <span th:text="${user.email}"></span>
                                            <!-- <span>@Html.DisplayFor(modelItem => item.User.UserName)</span> -->
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="nk-tb-col tb-col-mb">
                                <span class="tb-amount">
                                    <!-- @* @Html.DisplayFor(modelItem => item.Orders.Sum(x => x.TotalInvoice))
                                    *@  -->
                                    <span class="currency">USD</span>
                                </span>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <span th:text="${user.phone}"></span>
                                <!-- <span>@Html.DisplayFor(modelItem => item.Phone)</span> -->
                            </div>
                            <div class="nk-tb-col tb-col-lg">
                                <span th:text="${user.address}"></span>
                                <!-- <span>@Html.DisplayFor(modelItem => item.Address)</span> -->
                            </div>
                            <div class="nk-tb-col tb-col-lg">
                                <!-- <span th:text="${user}"></span> -->
                                <!-- <span>@Html.DisplayFor(modelItem => item.Orders.FirstOrDefault(x => x.CustomerId == item.Id).CrateAt)</span> -->
                            </div>
                            <div class="nk-tb-col nk-tb-col-tools">
                                <ul class="nk-tb-actions gx-1">
                                    <li class="nk-tb-action-hidden">
                                        <a th:href="@{/Admin/Users/Edit/{id}(id=${user.id})}" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip"
                                            data-bs-placement="top" aria-label="Edit" data-bs-original-title="Edit">
                                            <em class="icon ni ni-edit-alt-fill"></em>
                                        </a>
                                    </li>
                                    <li class="nk-tb-action-hidden">
                                        <a th:href="@{/Admin/Users/Edit/{id}(id=${user.id})}" class="btn btn-trigger btn-icon"
                                            data-bs-toggle="tooltip" data-bs-placement="top" aria-label="View" data-bs-original-title="View">
                                            <em class="icon ni ni-eye-alt-fill"></em>
                                        </a>
                                    </li>
                                    <li class="nk-tb-action-hidden">
                                        <!-- th:href="@{/Admin/Users/Delete/{id}(id=${user.id})}" -->
                                        <a  class="btn btn-trigger btn-icon eg-swal-error" data-bs-toggle="tooltip"
                                            data-bs-placement="top" aria-label="Delete" data-bs-original-title="Delete">
                                            <em class="icon ni ni-trash-fill"></em>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>





                    </div>
                    <div class="card">
                        <div class="card-inner">
                            <div class="nk-block-between-md g-3">
                                <div class="g">
                                    <ul class="pagination justify-content-center justify-content-md-start">
                                        <li class="page-item"th:if="${currentPage > 0}">
                                            <a class="page-link" th:href="@{Users(page=${currentPage - 1}, size=${size})}">Prev</a>
                                        </li>
                                        <!-- <li>
                                            <span th:if="${currentPage > 0}"> <a th:href="@{Users(page=${currentPage - 1}, size=${size})}">Previous</a> </span>
                                            <span th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"> <a th:if="${pageNum != currentPage}"
                                                    th:href="@{Users(page=${pageNum}, size=${size})}" th:text="${pageNum + 1}"></a> <span
                                                    th:if="${pageNum == currentPage}" th:text="${pageNum + 1}"></span> </span> 
                                            <span th:if="${currentPage < totalPages - 1}"> <a th:href="@{Users(page=${currentPage + 1}, size=${size})}">Next</a>
                                        </li> -->
                                        <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}">
                                            <a class="page-link" th:if="${pageNum != currentPage}" th:href="@{Users(page=${pageNum}, size=${size})}" th:text="${pageNum + 1}"></a>
                                            <a class="page-link" th:if="${pageNum == currentPage}" style="background-color: #f5f6fa;"  th:text="${pageNum + 1}">1</a>
                                        </li>
                                        <!-- <il class="page-item" th:if="${pageNum == currentPage}">
                                            <a class="page-link" href="/" th:text="${pageNum + 1}">1</a>
                                        </il> -->
                                        <li class="page-item" th:if="${currentPage < totalPages - 1}">
                                            <a class="page-link" th:href="@{Users(page=${currentPage + 1}, size=${size})}">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>