<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="HolaWeb">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <link rel="shortcut icon" th:href="@{/admin/images/favicon.png}">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/admin/css/dashlite.css(ver=3.2.3)}">
    <link id="skin-default" rel="stylesheet" th:href="@{/admin/css/theme.css(ver=3.2.3)}">
    <style>
        .fade {
        opacity: 1;
        transition: opacity 5s ease-in-out;
        }
        .hide {
            opacity: 0;
        }
        #filter-user {
            display: none;
            opacity: 0;
            height: 0;  
            transition: opacity 1s ease-in-out,height 1.5s;
        }

        #filter-user.show {
            display: block;
            opacity: 1;
            height: auto;
        }
        .fixed-element {
            position: fixed;
            right: 0;
            top: 7%;
            margin: 20px; /* Optional: Add some margin if needed */
            z-index: 1000; /* Ensure it stays on top of other elements */
        }
        @keyframes fadeEffect {
            0% {
                opacity: 1;
            }
            80% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }

        @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0px);
        }
        40% {
            transform: translateY(-20px);
        }
        60% {
            transform: translateY(-10px);
        }
        }

    .bounce {
        display: inline-block;
        animation: bounce 2.5s infinite,fadeEffect 10s forwards;
    }
    </style>
</head>

<body class="nk-body bg-lighter npc-default has-sidebar ">
    <div class="nk-app-root">
        <div class="nk-main ">
            <div class="nk-sidebar nk-sidebar-fixed is-light " data-content="sidebarMenu">
                <div class="nk-sidebar-element nk-sidebar-head">
                    <div class="nk-sidebar-brand">
                        <a th:href="@{/index.html}" class="logo-link nk-sidebar-logo">
                            <img class="logo-light logo-img" th:src="@{/admin/images/logo.png}"
                                 alt="logo">
                            <img class="logo-dark logo-img" th:src="@{/admin/images/logo-dark.png}"
                                 alt="logo-dark">
                            <img class="logo-small logo-img logo-img-small" th:src="@{/admin/images/logo-small.png}"
                                 alt="logo-small">
                        </a>
                    </div>
                    <div class="nk-menu-trigger me-n2">
                        <a th:href="@{/}" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu">
                            <em class="icon ni ni-arrow-left"></em>
                        </a>
                        <a th:href="@{/}" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex"
                            data-target="sidebarMenu">
                            <em class="icon ni ni-menu"></em>
                        </a>
                    </div>
                </div>

                <!-- //Menu -->
                <div class="nk-sidebar-element">
                    <div class="nk-sidebar-content">
                        <div class="nk-sidebar-menu">
                            <ul class="nk-menu">
                                <li class="nk-menu-item">
                                    <a th:href="@{/}" class="nk-menu-link">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-home-fill"></em>
                                        </span>
                                        <span class="nk-menu-text">Dashboard</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item has-sub ">
                                    <a th:href="@{/}" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-users-fill"></em>
                                        </span>
                                        <span class="nk-menu-text">User Manage</span>
                                    </a>
                                    <ul class="nk-menu-sub">
                                        <li class="nk-menu-item ">
                                            <a th:href="@{/user/create}" class="nk-menu-link">
                                                <span class="nk-menu-text">Create</span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item">
                                            <a th:href="@{/user/index}" class="nk-menu-link">
                                                <span class="nk-menu-text">User List</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nk-menu-item has-sub ">
                                    <a th:href="@{/}" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-user-list-fill"></em>
                                        </span>
                                        <span class="nk-menu-text">Customers</span>
                                    </a>
                                    <ul class="nk-menu-sub">
                                        <li class="nk-menu-item">
                                            <a th:href="@{/}" class="nk-menu-link">
                                                <span class="nk-menu-text">Customer List</span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item ">
                                            <a th:href="@{/demo2/customer-details.html}" class="nk-menu-link">
                                                <span class="nk-menu-text">Customer Details</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nk-menu-item has-sub ">
                                    <a th:href="@{/}" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-cc-alt2-fill"></em>
                                        </span>
                                        <span class="nk-menu-text">Orders</span>
                                    </a>
                                    <ul class="nk-menu-sub">
                                        <li class="nk-menu-item ">
                                            <a th:href="@{/order/index}" class="nk-menu-link">
                                                <span class="nk-menu-text">Order List - Default</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nk-menu-item has-sub ">
                                    <a th:href="@{/}" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-file-docs"></em>
                                        </span>
                                        <span class="nk-menu-text">Invoice</span>
                                    </a>
                                    <ul class="nk-menu-sub">
                                        <li class="nk-menu-item ">
                                            <a th:href="@{/demo2/invoice-list.html}" class="nk-menu-link">
                                                <span class="nk-menu-text">Invoice List</span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item">
                                            <a th:href="@{/demo2/invoice-details.html}" class="nk-menu-link">
                                                <span class="nk-menu-text">Invoice Details</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nk-menu-item has-sub">
                                    <a th:href="@{/}" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-card-view"></em>
                                        </span>
                                        <span class="nk-menu-text">Products</span>
                                    </a>
                                    <ul class="nk-menu-sub">
                                        <li class="nk-menu-item">
                                            <a th:href="@{/product/create}" class="nk-menu-link">
                                                <span class="nk-menu-text">Product Card</span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item">
                                            <a th:href="@{/product/index}" class="nk-menu-link">
                                                <span class="nk-menu-text">Product List</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nk-menu-item has-sub">
                                    <a th:href="@{/logout}" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-card-view"></em>
                                        </span>
                                        <span class="nk-menu-text">Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- EndMenu -->
            </div>
            <div class="nk-wrap ">
                <div class="nk-header nk-header-fixed is-light">
                    <div class="container-fluid">
                        <div class="nk-header-wrap">
                            <div class="nk-menu-trigger d-xl-none ms-n1"><a href="#" class="nk-nav-toggle nk-quick-nav-icon"
                                    data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a></div>
                            <div class="nk-header-brand d-xl-none"><a href="/demo2/index.html" class="logo-link"><img
                                        class="logo-light logo-img" src="/demo2/images/logo.png" srcset="/demo2/images/logo2x.png 2x"
                                        alt="logo"><img class="logo-dark logo-img" src="/demo2/images/logo-dark.png"
                                        srcset="/demo2/images/logo-dark2x.png 2x" alt="logo-dark"></a></div>
                            <div class="nk-header-search ms-3 ms-xl-0"><em class="icon ni ni-search"></em><input type="text"
                                    class="form-control border-transparent form-focus-none" placeholder="Search anything"></div>
                            <div class="nk-header-tools">
                                <ul class="nk-quick-nav">
                                    <li class="dropdown user-dropdown"><a href="#" class="dropdown-toggle me-n1"
                                            data-bs-toggle="dropdown">
                                            <div class="user-toggle">
                                                <div class="user-avatar sm"><em class="icon ni ni-user-alt"></em></div>
                                                <div class="user-info d-none d-xl-block">
                                                    <div class="user-status user-status-unverified" th:text="${infoUserLogin.email}">Unverified</div>
                                                    <div class="user-name dropdown-indicator" th:text="${infoUserLogin.fullName}">Abu Bin Ishityak</div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-end">
                                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                                <div class="user-card">
                                                    <div class="user-avatar"><span>AB</span></div>
                                                    <div class="user-info"><span class="lead-text" th:text="${infoUserLogin.fullName}">Abu Bin Ishtiyak</span><span
                                                            class="sub-text" th:text="${infoUserLogin.email}">info@softnio.com</span></div>
                                                </div>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="/demo2/user-profile-regular.html"><em
                                                                class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                                    <li><a href="/demo2/user-profile-setting.html"><em
                                                                class="icon ni ni-setting-alt"></em><span>Account Setting</span></a>
                                                    </li>
                                                    <li><a href="/demo2/user-profile-activity.html"><em
                                                                class="icon ni ni-activity-alt"></em><span>Login Activity</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="/logout"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <i th:replace="${content}"></i>
                <div class="nk-footer">
                    <div class="container-fluid">
                        <div class="nk-footer-wrap">
                            <div class="nk-footer-copyright"> &copy; 2024 HolaWeb. Template by <a
                                    th:href="@{/}" target="_blank">HolaWeb</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="example-alerts fixed-element">
        <div class="gy-4">
            <div class="example-alert bounce fade-animation" th:if="${session['message.success']}">
                <div class="alert alert-pro alert-success d-flex">
                    <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>
                    <div class="alert-text">
                        <h6>Notification</h6>
                        <p th:text="${session['message.success']}">Thanks for your deposit. Now you can see your transaction history. Your
                            account has been updated accordingly.</p>
                    </div>
                </div>
            </div>
            <div class="example-alert bounce fade-animation" th:if="${session['message.error']}">
                <div class="alert alert-pro alert-danger d-flex">
                    <div class="alert-text">
                        <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>
                        <h6>Notification</h6>
                        <p th:text="${session['message.error']}">Your order has been cancelled due to received your payment.</p>
                    </div>
                </div>
            </div>
            <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const alertElement = document.querySelector('.example-alert');

            // Function to hide the element
            function fadeOut(element) {
                element.classList.add('hide');
            }

            // Fade out the element after 5 seconds
            setTimeout(() => fadeOut(alertElement), 5000);
        });s
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
                const toggleButton = document.querySelector('a[href="#filter-user"]');
                const filterUserDiv = document.getElementById('filter-user');

                toggleButton.addEventListener('click', function (event) {
                    event.preventDefault();
                    if (filterUserDiv.classList.contains('show')) {
                        filterUserDiv.classList.remove('show');
                        setTimeout(() => {
                            filterUserDiv.style.display = 'none';
                        }, 500); // Wait for the transition to complete
                    } else {
                        filterUserDiv.style.display = 'block';
                        setTimeout(() => {
                            filterUserDiv.classList.add('show');
                        }, 10); // Small delay to trigger the transition
                    }
                });
        });
    </script>
    <script th:src="@{/admin/js/bundle.js?ver=3.2.3}"></script>
    <script th:src="@{/admin/js/scripts.js?ver=3.2.3}"></script>
    <script th:src="@{/admin/js/demo-settings.js?ver=3.2.3}"></script>
    <script th:src="@{/admin/js/chart-ecommerce.js?ver=3.2.3}"></script>
</body>

</html>