<section class="ls s-py-80 s-py-lg-120 s-py-xl-160 c-gutter-100 booking-form container-px-30">

    <div class="container">
        <div class="row">

            <div class="col-lg-8 animate animated scaleAppear" data-animation="scaleAppear">

                <h5 class="text-center text-md-left special-heading">
                    join MaxiCom today<br>
                    <span class="text-uppercase">connect now</span>
                </h5>

                <div class="divider-50 d-none d-xl-block"></div>
                <!-- <form class="contact-form c-mb-10 c-mb-md-20 c-gutter-20 text-center text-md-left" method="post"
                    th:action="@{/BookingForm}">
                    <div th:if="${#fields.hasErrors()}" class="text-danger"></div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group has-placeholder">
                                <label th:for="ConnectionId" class="control-label"></label>
                                <select th:field="*{connectionId}" class="form-control"
                                    th:options="${viewBag.connectionId}"></select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group has-placeholder">
                                <label th:for="Address" class="control-label"></label>
                                <input th:field="*{address}" class="form-control" />
                                <span th:errors="*{address}" class="text-danger"></span>
                            </div>

                        </div>

                    </div>


                    <div class="row">


                        <div class="col-sm-6">

                            <div class="form-group has-placeholder">

                                <label th:for="Name" class="control-label"></label>

                                <input th:field="*{name}" class="form-control" />

                                <span th:errors="*{name}" class="text-danger"></span>

                            </div>

                        </div>

                        <div class="col-sm-6">

                            <div class="form-group has-placeholder">

                                <label th:for="Phone" class="control-label"></label>

                                <input th:field="*{phone}" class="form-control" />
                                <span th:errors="*{phone}" class="text-danger"></span>

                            </div>

                        </div>


                    </div>


                    <div class="row">


                        <div class="col-sm-12">


                            <div class="form-group has-placeholder">

                                <label th:for="Message" class="control-label"></label>

                                <textarea th:field="*{message}" class="form-control"></textarea>

                                <span th:errors="*{message}" class="text-danger"></span>

                            </div>

                        </div>


                    </div>

                    <div class="row">

                        <div class="col-sm-12">

                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" th:field="*{agree}">
                                <label class="form-check-label" for="exampleCheck1">I agree that my submitted data is
                                    being collected and stored.</label>

                            </div>

                        </div>
                    </div>

                    <div class="row">


                        <div class="col-sm-12 text-center text-md-left mt-30">


                            <div class="form-group">

                                <button type="submit" name="contact_submit" class="btn btn-maincolor">

                                    <span>Submit</span>

                                </button>

                            </div>
                        </div>


                    </div>


                </form> -->

            </div>

            <!--.col-* -->


        </div>
    </div>
</section>