<section class="ls s-py-80 s-py-lg-120 s-py-xl-160 shop-cart">
    <div class="container">
        <div class="row">
            <main class="col-lg-12">
                <div class="woocommerce-message">
                    "Premium quality" removed. <a href="#">Undo?</a>
                </div>

                <form class="woocommerce-cart-form" th:action="@{/Cart/UpdateCart}" th:object="${cart}" method="post">

                    <table class="shop_table shop_table_responsive cart">
                        <thead>
                            <tr>
                                <th class="product-remove">&nbsp;</th>
                                <th class="product-thumbnail">&nbsp;</th>
                                <th class="product-name">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity product">Quantity</th>
                                <th class="product-subtotal">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item, iterStat : ${cart.items}" class="cart_item">
                                <input type="hidden" th:field="*{items[__${iterStat.index}__].product.id}" />

                                <td class="product-remove">
                                    <a th:href="@{/Cart/Remove/{id}(id=${item.product.id})}" 
                                        >×</a>
                                </td>

                                <td class="product-thumbnail">
                                    <a th:href="@{/shop-product-right}">
                                        <img th:src="@{/uploads/{image}(image=${item.product.image})}" width="180"
                                            height="180" alt="">
                                    </a>
                                </td>

                                <td class="product-name" data-title="Product">
                                    <a th:href="@{/Cart}" th:text="${item.product.name}">Premium Quality</a>
                                </td>

                                <td class="product-price" data-title="Price">
                                    <span class="amount">
                                        <span>$</span><span th:text="${item.product.price}"></span>
                                    </span>
                                </td>

                                <td class="product-quantity product" data-title="Quantity">
                                    <div class="quantity">
                                        <input type="button" value="+" class="plus">
                                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                                        <input type="number" class="input-text qty text" step="1" min="1" max="1000"
                                            name="quantity" th:field="*{items[__${iterStat.index}__].quantity}" title="Qty" size="4">
                                        <input type="button" value="-" class="minus">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </div>
                                </td>

                                <td class="product-subtotal" data-title="Total">
                                    <span class="amount">
                                        <span>$</span>
                                        <span th:text="${item.product.price.multiply(item.quantity)}"></span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" class="actions">
                            
                                    <div class="coupon">
                                        <!-- <label for="coupon_code">Coupon:</label>
                                        <input type="text" name="coupon_code" class="input-text" id="coupon_code" value=""
                                            placeholder="Coupon code">
                                        <button type="submit" class="btn btn-maincolor" name="apply_coupon"><span>Apply coupon</span></button> -->
                                    </div>
                                    <button type="submit" class="btn btn-outline-maincolor" name="update_cart"><span>Update cart</span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>

                <div class="cart-collaterals">
                
                    <div class="cross-sells">
                
                        <h5>You may be interested in…</h5>
                
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="visible-divs">
                                        <div class="card mb-2">Div 1</div>
                                        <div class="card mb-2">Div 2</div>
                                        <div class="card mb-2">Div 3</div>
                                        <div class="card mb-2">Div 4</div>
                                    </div>
                                    <div class="collapsed-divs" id="collapsedDivs">
                                        <div class="card mb-2">Div 5</div>
                                        <div class="card mb-2">Div 6</div>
                                        <div class="card mb-2">Div 7</div>
                                        <div class="card mb-2">Div 8</div>
                                        <div class="card mb-2">Div 9</div>
                                        <div class="card mb-2">Div 10</div>
                                    </div> <button class="btn btn-primary mt-2" onclick="toggleCollapse()">Show More</button>
                                </div>
                            </div>
                        </div>
                
                    </div>
                
                    <div class="cart_totals ">
                
                
                        <h5>Cart totals</h5>
                
                        <table class="shop_table shop_table_responsive">
                
                            <tbody>
                                <tr class="cart-subtotal">
                                    <th>Subtotal</th>
                                    <td data-title="Subtotal">
                                        <span class="amount">
                                            <span>$</span>
                                            <span th:text="${totalPrice}"></span>
                                        </span>
                                    </td>
                                </tr>
                
                
                                <tr class="order-total">
                                    <th>Total</th>
                                    <td data-title="Total">
                                        <strong>
                                            <span class="amount">
                                                <span>$</span><span th:text="${totalPrice}"></span>
                                            </span>
                                        </strong>
                                    </td>
                                </tr>
                
                
                            </tbody>
                        </table>
                
                        <div class="wc-proceed-to-checkout">
                            <a href="/Checkout" class="checkout-button alt wc-forward btn btn-maincolor"><span>Proceed to
                                    checkout</span></a>
                        </div>
                
                
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>