<!DOCTYPE html>
<html lang="en">

<head>
    <title th:text="${title}">Title</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/client/css/bootstrap.min.css">
    <link rel="stylesheet" href="/client/css/animations.css">
    <link rel="stylesheet" href="/client/css/font-awesome.css">
    <link rel="stylesheet" href="/client/css/main.css" class="color-switcher-link">
    <link rel="stylesheet" href="/client/css/shop.css">
    <script src="/client/js/modernizr-2.6.2.min.js"></script>
    <style>
        .fade {
            opacity: 1;
            transition: opacity 5s ease-in-out;
        }
    
        .hide {
            opacity: 0;
        }
    
        #filter-user {
            display: none;
            opacity: 0;
            height: 0;
            transition: opacity 1s ease-in-out, height 1.5s;
        }
    
        #filter-user.show {
            display: block;
            opacity: 1;
            height: auto;
        }
    
        .fixed-element {
            position: fixed;
            right: 0;
            top: 7%;
            margin: 20px;
            /* Optional: Add some margin if needed */
            z-index: 1000;
            /* Ensure it stays on top of other elements */
        }
    
        @keyframes fadeEffect {
            0% {
                opacity: 1;
            }
    
            80% {
                opacity: 1;
            }
    
            100% {
                opacity: 0;
            }
        }
    
        @keyframes bounce {
    
            0%,
            20%,
            50%,
            80%,
            100% {
                transform: translateY(0px);
            }
    
            40% {
                transform: translateY(-20px);
            }
    
            60% {
                transform: translateY(-10px);
            }
        }
    
        .bounce {
            display: inline-block;
            animation: bounce 2.5s infinite, fadeEffect 10s forwards;
        }
        .widget_shopping_cart .removeCustom {
        -webkit-box-ordinal-group: 4;
        font-size: 20px;
        left: 100%;
        line-height: 1.75;
        margin-top: 8px;
        -webkit-order: 3;
        order: 3;
        position: absolute;
        top: 0;
        width: auto;
    }
    </style>
</head>

<body>
    <div class="preloader">
        <div class="preloader_image"></div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="widget widget_search">
            <a href="./" class="logo">
                <span class="logo-text py-20"><strong>Nexus</strong>com</span>
            </a>
            <form method="get" class="searchform search-form" action="/">
                <div class="form-group">
                    <input type="text" value="" name="search" class="form-control" placeholder="Search keyword"
                        id="modal-search-input">
                </div>
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
        <div class="fw-messages-wrap ls p-normal">
        </div>
    </div>

    <div id="canvas">
        <div id="box_wrapper">

            <!-- template sections -->

            <!--topline section visible only on small screens|-->

            <section class="page_topline ls s-borderbottom c-my-20">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-6 text-md-left text-center">
                            <ul class="top-includes">
                                <li>
                                    <span class="icon-inline">
                                        <span class="icon-styled color-main fs-14">
                                            <i class="fa fa-phone"></i>
                                        </span>
                                        <span class="small-text">
                                            <a href="#">0862442297</a>
                                        </span>
                                    </span>
                                </li>
                                <li>
                                    <span class="icon-inline">
                                        <span class="icon-styled color-main fs-14">
                                            <i class="fa fa-pencil"></i>
                                        </span>
                                        <span class="small-text">
                                            <a href="#"><span class="__cf_email__"
                                                    data-cfemail="#">dangvandat09@gmail.com</span></a>
                                        </span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 text-center text-md-right d-none d-md-block">
                            <ul class="top-includes">
                                <li>
                                    <span class="icon-inline">
                                        <span class="icon-styled color-main2 fs-14">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <span class="small-text" th:unless="${infoUserLogin != null and !#lists.isEmpty(infoUserLogin)}">
                                            <a class="hover-main2" href="/login">
                                                Login in / sign up</a>
                                        </span>
                                        <span class="small-text" th:if="${infoUserLogin != null and !#lists.isEmpty(infoUserLogin)}">
                                            <a class="hover-main2" href="/Account/Dashboard" th:text="${infoUserLogin.fullName}">
                                                Login in / sign up</a>
                                        </span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>


            <!--eof topline-->

            <div class="header_absolute header_layout_1">
                <div id="particles-js"><canvas class="particles-js-canvas-el" width="1903" height="420"
                        style="width: 100%; height: 100%;"></canvas></div>
                <!-- header with two Bootstrap columns - left for logo and right for navigation and includes (search, social icons, additional links and buttons etc -->
                <div class="page_header_wrapper ls affix-top-wrapper" style="height: 118px;">
                    <header class="page_header ls justify-nav-end affix-top">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-xl-2 col-lg-4 col-md-5 col-11">
                                    <a href="./" class="logo">
                                        <span class="logo-text py-20"><strong>Maxi</strong>com</span>
                                    </a>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-7 col-1">
                                    <div class="nav-wrap">
                                    
                                        <nav class="top-nav">
                                            <ul class="nav sf-menu">
                                        
                                        
                                                <li class="active">
                                                    <a href="/">Home</a>
                                                </li>
                                                <li>
                                                    <a href="/Cart">Cart</a>
                                                </li>
                                                <li>
                                                    <a href="/About">About</a>
                                                </li>
                                                <li>
                                                    <a href="/Booking">Booking</a>
                                                </li>
                                        
                                                <li>
                                                    <a href="/Shop">Shop</a>
                                                    <ul>
                                                        <li th:each="category : ${categories}">
                                                            <a th:href="@{/Shop/Category/{id}(id=${category.id})}" th:text="${category.name}"></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                        
                                        
                                                <!-- blog -->
                                                <li th:if="${infoUserLogin != null and !#lists.isEmpty(infoUserLogin)}">
                                                    <a href="/Dashboard">Account</a>
                                                    <ul>
                                                        <li>
                                                            <a href="/Account/Dashboard">Dashboard</a>
                                                        </li>
                                                        <li>
                                                            <a href="/Account/Details">Edit User</a>
                                                        </li>
                                                        <li>
                                                            <a href="/Account/Orders">Orders</a>
                                                        </li>
                                        
                                        
                                                    </ul>
                                                </li>
                                                <!-- eof blog -->
                                                <!-- contacts -->
                                                <li>
                                                    <a>Other</a>
                                                    <ul>
                                                        <li>
                                                            <a href="/Product">Product</a>
                                                        </li>
                                                        <li>
                                                            <a href="/Checkout">Check Out</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <!-- eof contacts -->
                                                <!-- eof features -->
                                        
                                            </ul>
                                        
                                        
                                        </nav>
                                    
                                        <!--hidding includes on small devices. They are duplicated in topline-->
                                        <ul class="top-includes d-none d-xl-block search-icon">
                                    
                                            <li>
                                                <!--modal search-->
                                                <span>
                                                    <a href="#" class="search_modal_button">
                                                        <i class="fa fa-search"></i>
                                                    </a>
                                                </span>
                                    
                                            </li>
                                    
                                        </ul>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- header toggler -->
                        <span class="toggle_menu"><span></span></span>
                    </header>
                </div>
            
                <div class="page_header_wrapper main-header-side">
                    <div class="page_header_side header_slide header_side_right aaaa ls">
                        <span class="toggle_menu toggle_menu_side header-slide"><span></span></span>
                        <div class="scrollbar-macosx">
                            <div class="side_header_inner">
                                <div class="header-side-menu">
                                    <!-- main side nav start -->
                                    <nav class="mainmenu_side_wrapper">
                                        <ul class="nav menu-click">
                                            <li>
                                                <a href="/">
                                                    <i class="color-main7 fa fa-question-circle"></i>
                                                    FAQ
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Booking">
                                                    <i class="color-main7 fa fa-paper-plane"></i>
                                                    Submit a ticket
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/">
                                                    <i class="color-main7 fa fa-rocket"></i>
                                                    Terms Of Use
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/">
                                                    <i class="color-main7 fa fa-file-text-o"></i>
                                                    Terms of Service
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/">
                                                    <i class="color-main7 fa fa-phone"></i>
                                                    call me back
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <!-- eof main side nav -->
                
                
                                </div>
                            </div>
                        </div>
                        <div class="facebook-messeger d-flex align-items-center hero-bg">
                            <img src="/client/images/messeger.png" alt="">
                            <a href="https://messenger.com" class="small-text">
                                facebook messeger
                            </a>
                        </div>
                    </div>
                
                </div>
            
                <section class="page_title cs s-pt-60 s-pb-10 s-pt-lg-130 s-pb-lg-60 page_title text-center">
                    <div class="container-fluid">
                        <div class="row">
            
                            <div class="divider-60"></div>
            
                            <div class="col-md-12 text-center">
                                <h1 th:text="${title}">Title</h1>
                            </div>
            
                            <div class="divider-50"></div>
            
                        </div>
            
                    </div>
                    <ol class="breadcrumb full-width">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#" th:text="${title}">Shop</a>
                        </li>
                    </ol>
                </section>
            </div>


            <i th:replace="${content}"></i>


            <section class="footer-carousel c-gutter-0 container-px-0 s-py-0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="owl-carousel small-gallery-carousel" data-margin="0" data-responsive-lg="8"
                                data-responsive-md="4" data-responsive-sm="3" data-responsive-xs="2" data-nav="true"
                                data-loop="true">

                                <a href="/client/images/f03.jpg" class="photoswipe-link" data-width="800"
                                    data-height="800">
                                    <img src="/client/images/f03.jpg" alt="">
                                </a>
                                <a href="/client/images/04.jpg" class="photoswipe-link" data-width="800"
                                    data-height="800">
                                    <img src="/client/images/04.jpg" alt="">
                                </a>
                                <a href="/client/images/f05.jpg" class="photoswipe-link" data-width="800"
                                    data-height="800">
                                    <img src="/client/images/f05.jpg" alt="">
                                </a>
                                <a href="/client/images/06.jpg" class="photoswipe-link" data-width="800"
                                    data-height="800">
                                    <img src="/client/images/06.jpg" alt="">
                                </a>
                                <a href="/client/images/f07.jpg" class="photoswipe-link" data-width="800"
                                    data-height="800">
                                    <img src="/client/images/f07.jpg" alt="">
                                </a>
                                <a href="/client/images/08.jpg" class="photoswipe-link" data-width="800"
                                    data-height="800">
                                    <img src="/client/images/08.jpg" alt="">
                                </a>
                                <a href="/client/images/09.jpg" class="photoswipe-link" data-width="800"
                                    data-height="800">
                                    <img src="/client/images/09.jpg" alt="">
                                </a>
                                <a href="/client/images/f10.jpg" class="photoswipe-link" data-width="800"
                                    data-height="800">
                                    <img src="/client/images/f10.jpg" alt="">
                                </a>
                                <a href="/client/images/01.jpg" class="photoswipe-link" data-width="800"
                                    data-height="800">
                                    <img src="/client/images/01.jpg" alt="">
                                </a>
                                <a href="/client/images/02.jpg" class="photoswipe-link" data-width="800"
                                    data-height="800">
                                    <img src="/client/images/02.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer
                class="page_footer ls ms s-pt-80 s-pb-70 s-py-lg-120 s-pt-xl-135 s-pb-xl-105 c-gutter-60 text-center text-md-left">
                <div class="container">
                    <div class="row">
                        <div class="divider-20 d-none d-xl-block"></div>

                        <div class="col-md-6 col-xl-3 order-xl-1 order-md-1 animate" data-animation="fadeInUp">

                            <div class="widget widget_text">
                                <h4 class="widget-title">About</h4>
                                <p>
                                    Welcome largest broadband and Internet services provider where you can choose the
                                    best plan
                                    ever.
                                </p>
                                <div class="widget widget_social_buttons">
                                    <a href="#" class="fa fa-facebook color-bg-icon rounded-icon" title="facebook"></a>
                                    <a href="#" class="fa fa-twitter color-bg-icon rounded-icon" title="twitter"></a>
                                    <a href="#" class="fa fa-youtube-play color-bg-icon rounded-icon"
                                        title="youtube-play"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 order-xl-2 order-md-4 animate" data-animation="fadeInUp">
                            <div class="widget links">
                                <h4 class="widget-title">Links</h4>
                                <ul>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Packages</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">MaxiNet Media</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Connection</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Support</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Video Tutorials</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 order-xl-3 order-md-3 animate" data-animation="fadeInUp">
                            <div class="widget services-links">
                                <h4 class="widget-title">Services</h4>
                                <ul>
                                    <li class="cat-item">
                                        <a href="blog-right.html">4K Cable TV</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Dedicated Server</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">High Speed Internet</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Smartphone Service</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Dedicated Server</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 order-xl-4 order-md-2 animate" data-animation="fadeInUp">
                            <div class="widget widget_icons_list">
                                <h4 class="widget-title">Call Us</h4>
                                <p>23-456-7890</p>
                                <a href="#" class="small-text">
                                    <i class="fa fa-envelope-o color-main fs-14"></i>
                                    email us
                                </a>
                                <h4 class="widget-title">Visit Us</h4>
                                <p>246 Benson St., Ashwaubenon</p>
                                <a href="#" class="small-text">
                                    <i class="fa fa-map-marker color-main3 fs-14"></i>
                                    Get Direction
                                </a>
                            </div>
                            <div class="divider-45 d-none d-md-block d-xlz-none"></div>
                        </div>
                    </div>
                </div>
            </footer>
            <section class="page_copyright ds s-py-10 copyright-bg">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="divider-15 d-none d-lg-block"></div>
                        <div class="col-md-12 text-center">
                            <p>&copy; Copyright <span class="copyright_year">2024</span> All Rights Reserved</p>
                        </div>
                        <div class="divider-15 d-none d-lg-block"></div>
                    </div>
                </div>
            </section>

        </div><!-- eof #box_wrapper -->
    </div><!-- eof #canvas -->
    <div class="example-alerts fixed-element">
        <div class="gy-4">
            <div class="example-alert bounce fade-animation" th:if="${session['message.success']}">
                <div class="alert alert-pro alert-success d-flex">
                    <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>
                    <div class="alert-text">
                        <h6>Notification</h6>
                        <p th:text="${session['message.success']}">Thanks for your deposit. Now you can see your transaction
                            history. Your
                            account has been updated accordingly.</p>
                    </div>
                </div>
            </div>
            <div class="example-alert bounce fade-animation" th:if="${session['message.error']}">
                <div class="alert alert-pro alert-danger d-flex">
                    <div class="alert-text">
                        <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>
                        <h6>Notification</h6>
                        <p th:text="${session['message.error']}">Your order has been cancelled due to received your payment.
                        </p>
                    </div>
                </div>
            </div>
            <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
        </div>
    </div>
    <script> 
        document.addEventListener('DOMContentLoaded', function () { 
            var currentPath = window.location.pathname; 
            var navLinks = document.querySelectorAll('.woocommerce-MyAccount-navigation a'); 
            navLinks.forEach(function (link) { 
                if (link.getAttribute('href') === currentPath) { 
                        link.parentElement.classList.add('is-active');
                     }
                     }); 
                    }); 
        </script>

        <script> function toggleCollapse() { 
            var collapsedDivs = document.getElementById('collapsedDivs'); 
            if (collapsedDivs.classList.contains('open')) {
                 collapsedDivs.classList.remove('open');
                  document.querySelector('.btn').textContent = 'Show More'; 
                  } else 
                  { collapsedDivs.classList.add('open'); 
                  document.querySelector('.btn').textContent = 'Show Less'; 
                  } } 
                  </script>

    <script src="/client/js/compressed.js"></script>
    <script src="/client/js/main.js"></script>


</body>

</html>