<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title" th:text="${title}">User Lists</h3>
                            <div class="nk-block-des text-soft">
                                <p>You have total 
                                    <span th:text="${countproduct}">2,595</span>
                                    
                                     produt.</p>
                            </div>
                        </div>
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <div class="toggle-expand-content" >
                                    <ul class="nk-block-tools g-3" style="justify-content: center;">
                                        <li>
                                            <a href="#filter-user"  class="btn btn-white btn-outline-light"><em class="icon ni ni-filter-alt"></em><span>Filter User </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/Order" class="btn btn-white btn-outline-light">
                                                <em class="icon ni ni-cc-alt2-fill"></em><span>List Order</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/Booking" class="btn btn-white btn-outline-light">
                                                <em class="icon ni ni-list-thumb-alt-fill"></em><span>List Booking</span>
                                            </a>
                                        </li>
                                        <li class="nk-block-tools-opt"><a href="/Admin/Products/Add" class="btn btn-icon btn-primary d-md-none"><em
                                                    class="icon ni ni-plus"></em></a><a href="/Admin/Products/Add" class="btn btn-primary d-none d-md-inline-flex"><em
                                                    class="icon ni ni-plus"></em><span>Add</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-block nk-block-lg " id="filter-user">
                    <div class="card card-bordered card-preview">
                        <div class="card-inner">
                            <div class="preview-block">
                                <div class="card-head">
                                    <h5 class="card-title" >Filter Product</h5>
                                </div>
                
                                <form method="get" th:action="@{/Admin/Products/Filter}" th:object="${productFilterDto}">
                                    <div class="row g-4">
                                        <div class="col-lg-4">
                                            <div class="form-group"><label class="form-label" for="name">Name</label>
                                                <div class="form-control-wrap"><input type="text" class="form-control"
                                                        th:field="*{name}"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group"><label class="form-label" for="category">Category </label>
                                                <div class="form-control-wrap">
                                                    <select class="form-select js-select2 select2-hidden-accessible" data-placeholder="Select Multiple options"
                                                        data-select2-id="9" tabindex="-1" aria-hidden="true" name="categories" multiple="multiple" th:field="*{categories}">
                                                        <!-- <option >Default Option</option> -->
                                                        <option value="" disabled selected>Select Category</option>
                                                        <option class="" th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
                                                        </option>
                                                    </select>
                                                    <!-- <input type="text" class="form-control" id="category" th:field="*{category}">
                                                    <div data-lastpass-icon-root=""
                                                        style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-label" for="distributor">Distributor</label>
                                                <div class="form-control-wrap">
                                                    <select class="form-control" name="distributor" th:field="*{distributor}">
                                                        <option value="" disabled selected>Select Distributor</option>
                                                        <option class="" th:each="distributor : ${distributors}" th:value="${distributor.id}"
                                                            th:text="${distributor.name}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group"><label class="form-label" for="min_price">Price Min </label>
                                                <div class="form-control-wrap">
                                                    <button class="btn btn-icon btn-outline-light number-spinner-btn number-minus" type="button" data-number="minus"><em
                                                            class="icon ni ni-minus"></em></button>
                                                    <input type="number" class="form-control number-spinner" id="min_price" th:field="*{min_price}" >
                                                    <button class="btn btn-icon btn-outline-light number-spinner-btn number-plus" type="button" data-number="plus"><em
                                                            class="icon ni ni-plus"></em></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group"><label class="form-label" for="max_price">Price Max </label>
                                                <div class="form-control-wrap">
                                                    <button class="btn btn-icon btn-outline-light number-spinner-btn number-minus" type="button" data-number="minus"><em
                                                            class="icon ni ni-minus"></em></button>
                                                    <input type="number" class="form-control number-spinner"  id="max_price" th:field="*{max_price}">
                                                    <button class="btn btn-icon btn-outline-light number-spinner-btn number-plus" type="button" data-number="plus"><em
                                                            class="icon ni ni-plus"></em></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group"><label class="form-label" for="page">page</label>
                                                <div class="form-control-wrap">
                                                    <input type="number" class="form-control" id="page" th:field="*{page}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group"><label class="form-label" for="size">Size</label>
                                                <div class="form-control-wrap">
                                                    <input type="number" class="form-control" id="size" th:field="*{size}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <!-- <div class="form-group"><label class="form-label" for="status">Status</label>
                                                <div class="form-control-wrap">
                                                    <input type="number" class="form-control" id="status" th:field="*{status}">
                                                </div>
                                            </div> -->
                                            <div class="form-group">
                                                <label class="form-label" for="status">Status</label>
                                                <div class="form-control-wrap">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input" name="status" th:field="*{status}" id="status">
                                                        <label class="custom-control-label" for="status">Status Active</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group"><button type="submit" class="btn btn-lg btn-primary">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-block">
                    <div class="nk-tb-list is-separate mb-3">
                        <div class="nk-tb-item nk-tb-head">
                            <div class="nk-tb-col nk-tb-col-check">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" id="uid">
                                    <label class="custom-control-label" for="uid"></label>
                                </div>
                            </div>
                            <div class="nk-tb-col">
                                <span class="sub-text">Name</span>
                            </div>
                            <div class="nk-tb-col tb-col-lg">
                                <span class="sub-text">Distributor</span>
                            </div>
                            <div class="nk-tb-col tb-col-mb">
                                <span class="sub-text">Description</span>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <span class="sub-text">Price</span>
                            </div>
                            <div class="nk-tb-col tb-col-lg">
                                <span class="sub-text">Category</span>
                            </div>
                            <div class="nk-tb-col tb-col-lg">
                                <span class="sub-text">Status</span>
                            </div>
                           
                            <div class="nk-tb-col nk-tb-col-tools">
                                <span class="sub-text">Act</span>
                            </div>
                        </div>
                        <div class="nk-tb-item" th:unless="${products != null and !#lists.isEmpty(products)}">
                            <div class="nk-tb-col">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                </div>
                            </div>
                            <div class="nk-tb-col">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                </div>
                            </div>
                            <div class="nk-tb-col">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                </div>
                            </div>
                            <div class="nk-tb-col">
                                <div class="custom-control custom-control-sm ">
                                   
                                </div>
                            </div>
                            <div class="nk-tb-col">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <span>There is no data for the information you are looking for.</span>
                                </div>
                            </div>
                            <div class="nk-tb-col">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                </div>
                            </div>
                            <div class="nk-tb-col">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                </div>
                            </div>
                        </div>
                        <div class="nk-tb-item" th:each="product : ${products}" th:id="'user-row-'+${product.id}">
                            <div class="nk-tb-col nk-tb-col-check">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" th:id="${product.id}">
                                    <label class="custom-control-label" th:for="${product.id}"></label>
                                </div>
                            </div>
                            <div class="nk-tb-col">
                                <a asp-action="Details" id="${product.id}">
                                    <div class="user-card">
                                        <div class="user-avatar bg-primary" th:unless="${product.image}"><span>None</span></div>
                                        <div class="user-avatar" th:if="${product.image}">
                                            <img th:src="@{/uploads/{image}(image=${product.image})}" style="height: 100%;"  alt="User Image" >
                                        </div>
                                        <div class="user-info">
                                            <span class="tb-lead">
                                                <span th:text="${product.name}"></span>
                                                <span class="dot dot-success d-md-none ms-1" ></span>

                                                <!-- @Html.DisplayFor(modelItem => item.Name) <span class="dot dot-success d-md-none ms-1"></span> -->
                                            </span>
                                            <!-- <span th:text="${product.email}"></span> -->
                                            <!-- <span>@Html.DisplayFor(modelItem => item.User.UserName)</span> -->
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="nk-tb-col tb-col-mb">
                                <span class="tb-amount">
                                    <span th:text="${product.distributor.name}"></span>
                                </span>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <span th:text="${product.description}"></span>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <span th:text="${product.price}"></span>
                            </div>
                            <div class="nk-tb-col tb-col-lg" >
                                <span th:each="category, iterStat : ${product.categories}" > 
                                    <span th:text="${category.name}"></span>
                                    <span th:if="${!iterStat.last}">,</span>
                                </span>
                               
                            </div>
                            <div class="nk-tb-col tb-col-md" th:if="${!product.status}">

                                <span class="badge badge-dot badge-dot-xs bg-warning">hidden</span>
                            </div>
                            <div class="nk-tb-col tb-col-md" th:if="${product.status}">
                            
                                <span class="badge badge-dot badge-dot-xs bg-success">display</span>
                            </div>

                            <div class="nk-tb-col nk-tb-col-tools">
                                <ul class="nk-tb-actions gx-1">
                                    <li class="nk-tb-action-hidden">
                                        <a th:href="@{/Admin/Products/Edit/{id}(id=${product.id})}" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip"
                                            data-bs-placement="top" aria-label="Edit" data-bs-original-title="Edit">
                                            <em class="icon ni ni-edit-alt-fill"></em>
                                        </a>
                                    </li>
                                    <li class="nk-tb-action-hidden">
                                        <a th:href="@{/Admin/Products/Detail/{id}(id=${product.id})}" class="btn btn-trigger btn-icon eg-swal-error"
                                            data-bs-original-title="View">
                                            <em class="icon ni ni-eye-alt-fill"></em>
                                        </a>
                                    </li>
                                    <li class="nk-tb-action-hidden">
                                        <a href="javascript:void(0);" th:attr="onclick=|showDeleteConfirmation(${product.id})|"
                                            class="btn btn-trigger btn-icon eg-swal-error" data-bs-original-title="View">
                                            <em class="icon ni ni-trash-fill"></em>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>





                    </div>
                    <div class="card">
                        <div class="card-inner">
                            <div class="nk-block-between-md g-3">
                                <div class="g">
                                    <ul class="pagination justify-content-center justify-content-md-start">
                                        <li class="page-item" th:if="${currentPage > 0}">
                                            <a class="page-link" th:href="@{Products(page=${currentPage - 1}, size=${size})}">Prev</a>
                                        </li>
                                        <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}">
                                            <a class="page-link" th:if="${pageNum != currentPage}" th:href="@{Products(page=${pageNum}, size=${size})}" th:text="${pageNum + 1}"></a>
                                            <a class="page-link" th:if="${pageNum == currentPage}" style="background-color: #f5f6fa;"  th:text="${pageNum + 1}">1</a>
                                        </li>
                                        <li class="page-item" th:if="${currentPage < totalPages - 1}">
                                            <a class="page-link" th:href="@{Products(page=${currentPage + 1}, size=${size})}">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>